{{extend 'layout_new.html'}}
{{block slideshow}}
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <div class="row" id="sliderwrapper">
        <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src="{{=URL('static','slideshow/slideshow_1.jpg')}}" alt="" width="1200px"/>
                <img src="{{=URL('static','slideshow/slideshow_2.jpg')}}" alt="" width="1200px"/>
            </div>
        </div>  
    </div>   
 {{end}}
{{block content}}
        
        <div class="row" id="content">
            <h1>HOW DO YOU GET TO CAMPUS <span class='highlight'>AND</span> WHY DOES IT MATTER?</h1>
            
            <div class="row">
            
                <div class="sevencol">
                <p>The <span class="highlight">UWSP Sustainable Commute Project</span> is working to estimate UWSP commuting patterns, costs, and emissions while raising awareness and identifying opportunities for change. Universities represent highly concentrated commuting communities and off-campus fossil fuel consumption by commuters often exceeds that of the institution. For example, in 2010 there were 5200 students living off campus with an average commute distance of 6.7 miles. Together we travel over 35,000 miles getting to campus and another 35,000 going home! In some cases cars account for more than 50% of campus commute miles although there are instances where car use is just nearly 20%. We don't know how many miles we commute to campus by car, bike, bus, or on foot and green-house gas emissions. The project's mission is to answer these questions and prospects for future change.</p>
                <p>Commuting shapes our lives and they shape our community and university landscapes. There are 3200 parking spaces on campus and parking lots occupy 20% of the 110 acres that comprise the built portion of campus. The university also has 198 bicycle racks. Nearby campus there are roughly 1400 on street parking spaces that are regularly used by commuting students and staff. Stevens Point has 117 miles of sidewalk and developed a bicycle and pedestrian plan.</p>
                <p>Knowledge of our commuting community comes from accumulated individual commute experiences and opinions of how things might be different if we tried to change. You are invited to submit your own commute experience using the survey page and register to receive updates on the project's progress and outcomes.</p>
                </div>
                
                <div id="homepage_sidebar" class="fivecol last">
                    <div class="homepage_search"><input type="text" value="Search..." class="styledinput" /><input type="image" class="inputbutton" src="{{=URL('static','images/input_button.png')}}"/></div>
                    
                    <div class="homepage_sidebox">
                        <h3 class="highlight">The project outcomes will be relevant to the UWSP's concern for:</h3>
                        <ul>
                            <li>Location and installation of bicycle racks, shelters, placement.</li>
                            <li>Vehicle circulation and accessibility.</li>
                            <li>Health and safety related to exercise and traffic incidents.</li>
                            <li>Parking reduction, relocation and use practices.</li>
                        </ul>
                        <h3 class="highlight">In addition, the community's interests will be reflected in information on:</h3>
                        <ul>
                            <li>Road, sidewalk and intersection use and congestion.</li>
                            <li>Reduction of off-campus parking pressures</li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="row" id="homepage_row_stuff">
                <img src="{{=URL('static','images/homepage_bus.png')}}" alt="bus"/>
                <img src="{{=URL('static','images/homepage_carpool.png')}}" alt="bus" style="margin-bottom:-6px;"/>
                <img src="{{=URL('static','images/homepage_walk.png')}}" alt="bus"/>
                <img src="{{=URL('static','images/homepage_bike.png')}}" alt="bus"/>
            </div>
            
            <div class="divider"></div>
            
            <div class="row" id="bottom_content">
                <div class="sixcol">
                    <h3>Subscribe</h3>
                    <p>Knowledge of our commuting community comes from accumulated individual commute experiences and opinions of how things might be different if we tried to change.</p>
                    <input type="text" value="Search..." class="styledinput" />
                </div>
                
                <div class="sixcol last" id="links">
                    <h3>Links</h3>  
                    <p>
                        <a href="#">home</a>
                        <a href="#">project outcomes</a>
                        <a href="#">bus options</a>
                        <a href="#">about</a>
                        <a href="#">commuting survey</a>
                        <a href="#">contact</a>
                    </p>
                </div>
            </div>
        <!-- end content -->    
        </div>
{{end}}
