{{extend 'layout_new.html'}}
{{block content}}
<script type="text/javascript">
$(document).ready(function(){
    $("#bike_slider").slider({ max: 7,
                            min:0,
                            range:"min",
                            slide: function( event, ui ) {
				                $( "#bike").val(ui.value);
		                	}
    });
    $("#car_slider").slider({ max: 7,
                            min:0,
                            range:"min",
                            slide: function( event, ui ) {
				                $( "#car").val(ui.value);
		                	}
    });
    $("#bus_slider").slider({ max: 7,
                            min:0,
                            range:"min",
                            slide: function( event, ui ) {
				                $( "#bus").val(ui.value);
		                	}
    });
    $("#walk_slider").slider({ max: 7,
                            min:0,
                            range:"min",
                            slide: function( event, ui ) {
				                $( "#walk").val(ui.value);
		                	}
    });
    $( "#bike" ).val($( "#bike_slider" ).slider( "value" ) );
    $( "#car" ).val($( "#car_slider" ).slider( "value" ) );
    $( "#bus" ).val($( "#bus_slider" ).slider( "value" ) );
    $( "#walk" ).val($( "#walk_slider" ).slider( "value" ) );
});
function dormClick(){
    $(".top_address_form").toggleClass("hidden-div","2");
    $("#dorm_form").toggleClass("hidden-div","2");

}
</script>
<div style="text-align:center;">
<h1>Address and <span class="highlight">Transportation</span></h1>
<div class="divider"></div>
   <div class="sevencol" style="margin:0 12em 0 12em;">
    {{=form}}
    {{=form2}}
</div>
{{end}}
