{{ extend 'layout_new.html' }}

{{block head}}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript">
        swfobject.embedSWF("{{=URL('static','flash/main.swf')}}", 'impact-journey', 550, 400, '11', null, {miles:40000, icon:'bike'});
    </script>
{{end}}

{{block content}}
    <div style='text-align:center'>
    <h1><span class='highlight'>Thank you</span> for taking the survey</h1>
    <div class='divider'></div>

    <div class="row">
    <div class="twelvecol"> 
    <h1>Feedback</h2>
    <h2> Your responses help us meet the goals of the project. </h2>
    <h2> You can read more about the project goals <a href="{{=URL('default', 'index')}}" title='uwsp scp'> here.</a></h2>


    <h1> Your Commute <span class='highlight'> Impact</span></h2>
    <div id='impact-journey'>
        <p>Please download and install <a href='http://bit.ly/tQEAJ0' target='_blank'>Flash Player</a></p> 
    </div>

    </div>
    </div>

    <div class='divider'></div>
    </div>

{{end}}
