{{extend 'layout_new.html'}}
{{block content}}
<div style="text-align:center;">
<h1>WHAT IS YOUR <span class="highlight">IMPACT?</span></h1>
<h3>Take the interactive survey to find out</h3>
<div class="divider"></div>
</div>
<div class="sixcol" style="margin:0 0 0 18em;">
    <h2>How your responses will change the world</h2>
    <p>UWSP SCP will use the responses to help influence policy and change stuff....
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac libero neque. Mauris ipsum metus, blandit ut aliquet eu, sollicitudin ac mi. Cras sed faucibus justo. Aliquam cursus, velit a euismod semper, orci erat sagittis nibh, a tincidunt sapien nibh ac leo. Cras et luctus magna. Donec hendrerit molestie purus, sed porttitor turpis facilisis vel. Nam scelerisque, enim a pharetra lacinia, lectus orci fringilla libero, eget rutrum dui ante vitae libero. Fusce at congue justo. Nullam ut mauris a metus suscipit accumsan. Suspendisse commodo bibendum nibh eget mollis. Nam urna tortor, pretium ac volutpat a, accumsan eget enim.</p>

</div>
<div class="sixcol" style="margin:0 15em 0 18em;">
{{=form}}
<div class="divider" style="margin:1em 0 3em 0"></div>
</div>
{{end}}
