<!DOCTYPE html>
<html>
<head>
    <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script>
    <script src="{{=URL('static','js/jquery-1.7.min.js')}}"></script>
    <script src="{{=URL('static','js/jquery-ui-1.8.16.custom.min.js')}}"></script>
        
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'web2py_ajax.html'}}

    <!-- Google Analytics async http://mathiasbynens.be/notes/async-analytics-snippet -->
    <script>var _gaq=[['_setAccount','UA-25924934-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>

    <title>UWSP SCP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{=URL('static','css/1140.css')}}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{=URL('static','css/styles.css')}}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{=URL('static','css/south-street/jquery-ui-1.8.16.custom.css')}}" type="text/css" media="screen"/>

    <script type="text/javascript" src="{{=URL('static','js/css3-mediaqueries.js')}}"></script>    

    {{block head}}
    {{end}}

    <script type="text/javascript">
 /* Written by Rob Schmitt, The Web Developer's Blog
* http://webdeveloper.beforeseven.com/
*/

/**
* The following variables may be adjusted
*/
var active_color = '#000'; // Colour of user provided text
var inactive_color = '#ccc'; // Colour of default text

/**
* No need to modify anything below this line
*/

$(document).ready(function() {
  $("input.default-value").css("color", inactive_color);
  var default_values = new Array();
  $("input.default-value").focus(function() {
    if (!default_values[this.id]) {
      default_values[this.id] = this.value;
    }
    if (this.value == default_values[this.id]) {
      this.value = '';
      this.style.color = active_color;
    }
    $(this).blur(function() {
      if (this.value == '') {
        this.style.color = inactive_color;
        this.value = default_values[this.id];
      }
    });
  });
});
    </script>

</head>

<body>

    <div class="container">
    
        <div class="row" id="header">
            <img src="{{=URL('static','images/logo.png')}}" alt="UWSP SCP" />
        </div>
        <div id="navlinks" class="row">
            {{=MENU(response.menu,_id='nav')}}
        </div>

        {{include}} 
        {{block slideshow}}
 
    {{end}}
    <div class="row" id="content">
    {{if response.flash:}}
    <div class="flash">
    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
       <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
       <strong>Alert:</strong> {{=response.flash}}</p>
     </div>
     </div>
     {{else:}}
     {{pass}}

    {{block content}}
    
    {{end}}
    
   </div>
</div>
 
<div class="row" id="footer">
            <div class="sevencol">
            <div id="copy">
            <img src="{{=URL('static','images/footer_img.png')}}" alt="logo"/>UWSP Sustainable Commute Project &copy;
            
                <script language="JavaScript">
                 var d=new Date();
                 yr=d.getFullYear();
                 if (yr!=2002)
                 document.write(""+yr);
                 </script>
            
            </div>
            </div>
                
                 
            <div class="fivecol last" id="footerlink">
                <a href="#">bus</a>
                <a href="#">carpool</a>
                <a href="#">walk</a>
                <a href="#">bike</a>
            </div>
        </div>
    
    </div>

</body>

</html>
