{{extend 'layout_new.html'}}
{{block content}}
<style>
    #news a{
        color:#444;
        text-decoration:none;
    }
    #news a:hover{
        font-style:italic;
        text-decoration:underline;
    }
    #news p{
        padding:0;
        margin:10px 0 0 0;
        text-indent:0;
        clear:both;
    }
    #news h5,h6{
        
    }
    #news .date{
            float:right;
        }
    #news h6{
        float:right;
    }
    #news hr{
        margin:5px 0 1em 0;
    }
    .article_container{
        margin:2em 2em 0 2em;
    }
</style>
    <div id="admin bar">
    {{if auth.user:}}
        <a href="{{=URL('info','add_news')}}"> Add News Article </a>
        {{pass}}
    </div>
    <div id="news">
    <span style="text-align:center"><h1>Latest <span class="highlight">News</span></h1></span>
    <div class="divider"></div>
    {{for article in article_list:}}
     <div class="article_container"> 
         <h3> {{response.write(article.title,False)}}</h3>
         
         {{row = db(db.auth_user.id == article.author).select(db.auth_user.first_name)}}
        <!--<h5> &nbsp;{{row[0].first_name}}</h5>-->
        <hr/>
        <h5 class="date">{{=article.published}}</h5>
         
         <p>{{response.write(article.bodytext,False)}}</p>
    </div>
    {{pass}}
    </div>
    <hr/>
    <div id="email_list" style="margin:1em 2em 0 2em;">
        <h3>Email List</h3>
        <form style="padding:0;" method="post" action="{{=URL('email','local')}}">
            <p style="text-indent:0; padding:0;">Sign up for our email list for the latest news!</p>
            <input type="text" class="styledinput" name="T1" style="margin-left:0;"/><input type="submit" class="styledinput" value="subscribe"/>
        </form>
    </div>
{{end}}
