{{extend 'layout_new.html'}}
{{block content}}
<h1>People</h1>
<ul class="people">
    <li>Gene Martin, Principle investigator and research director</li>
    <li>Keith Rice, Co-principle director</li>
    <li>Doug Miskowiak, Co-principle director</li>
    <li>Tyler Winkelman, Intern</li>
    <li>Mitch Isaacson, Intern</li>
    <li>Sam Bolgert, Web Developer</li>
    <li>Tom Wilz, Graphic & Web Designer</li>
    <li>Logan Seipel, Data technician</li>
    <li>Sam Schroeder, Data technician</li>
    <li>Omar Muhyar, Data technician</li>
    <li>Sarah Hagedon, Community Outreach</li>
</ul>
{{end}}
