{{extend 'layout_new.html'}}
{{block content}}
<span style="text-align:center"><h1>People</h1></span>
<div class="divider"></div>
<div style="width:600px; margin:0 auto;">
<ul class="people">
    <li><h3><span class="highlight">Gene Martin,</span> Principle investigator and research director</h3></li>
    <li><h3><span class="highlight">Keith Rice,</span> Co-principle director</h3></li>
    <li><h3><span class="highlight">Doug Miskowiak,</span> Co-principle director</h3></li>
    <li><h3><span class="highlight">Tyler Winkelman,</span> Intern</h3></li>
    <li><h3><span class="highlight">Mitch Isaacson,</span> Intern</h3></li>
    <li><h3><a href="http://www.sambolgert.com" target="_blank" title="Sam Bolgert"><span class="highlight">Sam Bolgert,</span> Web Developer</a></h3></li>
    <li><h3><span class="highlight">Tom Wilz,</span> Graphic & Web Designer</h3></li>
    <li><h3><span class="highlight">Logan Seipel,</span> Data technician</h3></li>
    <li><h3><span class="highlight">Sam Schroeder,</span> Data technician</h3></li>
    <li><h3><span class="highlight">Omar Muhyar,</span> Data technician</h3></li>
    <li><h3><span class="highlight">Sarah Hagedon,</span> Community Outreach</h3></li>
</ul>
</div>
<div class="divider"></div>
{{end}}
